body {
  background-color: black;
  font-family: "Consolas";
  color: green;
}

#Terminal {
  color: green;
  background-color: black;
  font-family: "Consolas";
  width: 800px;
  height: 20px;
  border: 2px solid darkgray;
}

#Submit {
  color: black;
  background-color: green;
  font-family: "Consolas";
}

#Output {
  font-family: "Consolas";
}
